@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

body{
    font-family: 'Dosis', sans-serif !important;
}

.NavBar{
    background-color: rgb(101, 212, 10) !important;
}

.branding{
    color: black !important;
    font-size: 25px;
    font-weight: 1000 !important;
}

.NavLinks{
    color: black !important;
    font-size: px;
    font-weight: 1000 !important;
}